#app-mars-rover {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.title {
  font-size: 24px;
  margin-top: 10px;
}

.command-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.form-group label {
  margin-right: 10px;
}

.form-group select {
  padding: 3px;
  font-size: 14px;
  width: 60px;
}

.form-group select {
  width: 80px;
}

.form-text {
  font-size: 12px;
  color: #6c757d;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}

.loading {
  font-size: 18px;
  color: blue;
  margin-top: 20px;
}

.large-input {
  width: 300px; /* Ajusta el valor según tus necesidades */
}