.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1px;
  position: relative;
}

.row {
  display: contents;
}

.cell {
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rover {
  background-color: #2c3e50;
  color: white;
}

.obstacle {
  background-color: #e74c3c;
}

.path {
  background-color: #3498db;
  font-size: 10px;
}

.start {
  background-color: #42b983;
  color: white;
  font-weight: bold;
  font-size: 10px;
}

.legend {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
}

.x-legend {
  top: -1.5em;
  left: 4%;
  transform: translateX(-50%);
}

.y-legend {
  top: 4%;
  left: -2em;
  transform: translateY(-50%);
}

.grid-size-legend {
  bottom: -1.5em; /* Ajusta según sea necesario */
  right: -2em; /* Ajusta según sea necesario */
}

.legend {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
}

.origin-legend {
  top: -1.5em; /* Ajusta según sea necesario */
  left: -2em; /* Ajusta según sea necesario */
}